<?xml version='1.0' encoding='us-ascii'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="CART">

<xacro:include filename="$(find CART_description)/urdf/materials.xacro" />
<xacro:include filename="$(find CART_description)/urdf/CART.ros2control" />
<xacro:include filename="$(find CART_description)/urdf/CART.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.0038250693917988316 0.2294986787564171 0.4822630810508102" rpy="0 0 0" />
    <mass value="400.0" />
    <inertia ixx="40.0" iyy="40.0" izz="40.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/base_link.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/base_link.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="wheel_front_left_1">
  <inertial>
    <origin xyz="0.07003795583009655 -7.508882369101216e-06 3.669548850047423e-05" rpy="0 0 0" />
    <mass value="20.0" />
    <inertia ixx="2.0" iyy="2.0" izz="2.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="-0.38999999999999996 0.40109999999999996 -0.2943" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_front_left_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="-0.38999999999999996 0.40109999999999996 -0.2943" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_front_left_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="wheel_front_right_1">
  <inertial>
    <origin xyz="-0.08582176491636972 1.918259053572055e-05 -3.132428975883769e-05" rpy="0 0 0" />
    <mass value="20.0" />
    <inertia ixx="2.0" iyy="2.0" izz="2.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="0.3738 0.4007 -0.2946" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_front_right_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="0.3738 0.4007 -0.2946" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_front_right_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="top_1">
  <inertial>
    <origin xyz="-0.0002885105679165245 1.0831158257510547 1.4744486832972712" rpy="0 0 0" />
    <mass value="400.0" />
    <inertia ixx="40.0" iyy="40.0" izz="40.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="-0.0036999999999999997 0.0723 -0.3302" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/top_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="-0.0036999999999999997 0.0723 -0.3302" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/top_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="wheel_back_left_1">
  <inertial>
    <origin xyz="0.07006884471040231 -4.602516662094436e-05 2.3179383267218218e-05" rpy="0 0 0" />
    <mass value="20.0" />
    <inertia ixx="2.0" iyy="2.0" izz="2.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="-0.38839999999999997 -1.7233999999999998 -0.292" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_back_left_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="-0.38839999999999997 -1.7233999999999998 -0.292" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_back_left_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="wheel_back_right_1">
  <inertial>
    <origin xyz="-0.0700689652706009 -2.2413447569452627e-05 -3.3770651213221176e-05" rpy="0 0 0" />
    <mass value="20.0" />
    <inertia ixx="2.0" iyy="2.0" izz="2.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="0.38939999999999997 -1.7224 -0.2942" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_back_right_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="0.38939999999999997 -1.7224 -0.2942" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/wheel_back_right_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="Knuckle_left_1">
  <inertial>
    <origin xyz="0.009999991729855431 -7.508833852962193e-06 0.13166664593971658" rpy="0 0 0" />
    <mass value="20.0" />
    <inertia ixx="2.0" iyy="2.0" izz="2.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="-0.37 0.40109999999999996 -0.2943" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/Knuckle_left_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="-0.37 0.40109999999999996 -0.2943" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/Knuckle_left_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<link name="knuckle_right_1">
  <inertial>
    <origin xyz="-0.009958800816123499 1.9182586747691632e-05 0.13475995310489042" rpy="0 0 0" />
    <mass value="20.0" />
    <inertia ixx="2.0" iyy="2.0" izz="2.0" ixy="0.0" iyz="0.0" ixz="0.0" />
  </inertial>
  <visual>
    <origin xyz="0.362 0.4007 -0.2946" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/knuckle_right_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
    <material name="silver" />
  </visual>
  <collision>
    <origin xyz="0.362 0.4007 -0.2946" rpy="0 0 0" />
    <geometry>
      <mesh filename="file://$(find CART_description)/meshes/knuckle_right_1.stl" scale="0.1 0.1 0.1" />
    </geometry>
  </collision>
</link>

<joint name="Revolute 10" type="continuous">
  <origin xyz="0.02 0.0 0.0" rpy="0 0 0" />
  <parent link="Knuckle_left_1" />
  <child link="wheel_front_left_1" />
  <axis xyz="1.0 0.0 0.0" />
</joint>

<joint name="Revolute 11" type="continuous">
  <origin xyz="-0.0118 0.0 0.0" rpy="0 0 0" />
  <parent link="knuckle_right_1" />
  <child link="wheel_front_right_1" />
  <axis xyz="1.0 0.0 0.0" />
</joint>

<joint name="Rigid 15" type="fixed">
  <origin xyz="0.0036999999999999997 -0.0723 0.3302" rpy="0 0 0" />
  <parent link="base_link" />
  <child link="top_1" />
</joint>

<joint name="Revolute 20" type="continuous">
  <origin xyz="0.38839999999999997 1.7233999999999998 0.292" rpy="0 0 0" />
  <parent link="base_link" />
  <child link="wheel_back_left_1" />
  <axis xyz="1.0 0.0 0.0" />
</joint>

<joint name="Revolute 21" type="continuous">
  <origin xyz="-0.38939999999999997 1.7224 0.2942" rpy="0 0 0" />
  <parent link="base_link" />
  <child link="wheel_back_right_1" />
  <axis xyz="1.0 0.0 0.0" />
</joint>

<joint name="Revolute 22" type="revolute">
  <origin xyz="0.37 -0.40109999999999996 0.2943" rpy="0 0 0" />
  <parent link="base_link" />
  <child link="Knuckle_left_1" />
  <axis xyz="0.0 0.0 1.0" />
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100" />
</joint>

<joint name="Revolute 23" type="revolute">
  <origin xyz="-0.362 -0.4007 0.2946" rpy="0 0 0" />
  <parent link="base_link" />
  <child link="knuckle_right_1" />
  <axis xyz="0.0 0.0 1.0" />
  <limit upper="0.523599" lower="-0.523599" effort="100" velocity="100" />
</joint>

<gazebo><plugin filename="gz-sim-ackermann-steering-system" name="gz::sim::systems::AckermannSteering"><left_joint>Revolute 20</left_joint><right_joint>Revolute 21</right_joint><left_steering_joint>Revolute 22</left_steering_joint><right_steering_joint>Revolute 23</right_steering_joint><kingpin_width>0.755</kingpin_width><steering_limit>0.8</steering_limit><wheel_base>2.124</wheel_base><wheel_radius>0.277</wheel_radius><min_velocity>-5</min_velocity><max_velocity>5</max_velocity><topic>/cmd_vel</topic></plugin></gazebo></robot>