# Project Environment Configuration Template
# Copy this file to .env and adjust values for your local environment

# Discovered environment variables:
AMENT_PREFIX_PATH=./path_or_value
GZ_SIM_RESOURCE_PATH=./path_or_value
